<div class="contacts">
	<div class="block">
		<div class="contacts-group">
			<span class='temp' id="qqq">ИМЯ:</span>
			<span class='data'>Vitali Skripka</span>
		</div>
		<div class="contacts-group">
			<span class='temp'>ДАТА РОЖДЕНИЯ:</span>
			<span class='data'>02 октября 1996</span>
		</div>
		<div class="contacts-group">
			<span class='temp'>МЕСТОНАХОЖДЕНИЕ:</span>
			<span class='data'>Харьков, Украина</span>
		</div>
		<div class="contacts-group">
			<span class='temp'>СПОСОБЫ СВЯЗИ:</span>
			<span class='data'>
				<ul class='networks'>
					<li><div class='wrap-soc'><div class='social-bg mail'></div>vitaliy.skripka23@gmail.com</div></li>
					<li><div class='wrap-soc'><div class='social-bg fb'></div><a href="https://www.facebook.com/vitali.skripka1">Vitali Skripka</a></div></li>
					<li><div class='wrap-soc'><div class='social-bg twitter'></div><a href="https://twitter.com/v_violin1">Скрпк</a></div></li>
					<li><div class='wrap-soc'><div class='social-bg inst'></div><a href="https://www.instagram.com/v.skripka/">v.skripka</a></div></li>
					<li><div class='wrap-soc'><div class='social-bg vk'></div><a href="https://new.vk.com/skripka10">Виталий Скрипка</a></div></li>
				</ul>
			</span>
		</div>
		<div class="contacts-group">
			<span class='temp'>УЧЕБНЫЕ ЗАВЕДЕНИЯ:</span>
			<span class='data'>Харьковский национальный университет радиоэлектроники</span>
		</div>
	</div>
</div>