<div class="contacts">
	<div class="block">
		<div>
			<span>ИМЯ:</span>
			<p>Vitali Skripka</p>
		</div>
		<div>
			<span>ДАТА РОЖДЕНИЯ:</span>
			<p>02 октября 1996</p>
		</div>
		<div>
			<span>МЕСТОНАХОЖДЕНИЕ:</span>
			<p>Харьков, Украина</p>
		</div>
		<div>
			<span>СПОСОБЫ СВЯЗИ:</span>
			<ul>
				<li><span></span><a href=""></a></li>
				<li><span></span><a href=""></a></li>
				<li><span></span><a href=""></a></li>
				<li><span></span><a href=""></a></li>
				<li><span></span><a href=""></a></li>
				<li><span></span><a href=""></a></li>
			</ul>
		</div>
	</div>
</div>