body {
	background-color: #282828;
}

ul {
	list-style: none;
}

a{
	text-decoration: none;
}

.wrapper {
	width: 1200px;
	margin: 30px auto;
	background-color: #fff;
}

.block {
	margin: 0 auto;
	width: 940px;
}

					/*    HEADER BEGINS    */

#header {
	position: relative;
	background-color: #F4F4F4;
	height: 140px;
}

#logo {
	position: absolute;
	top: 25%;
}

#menu { 
	float: right;
	margin-top: 45px;
}

#menu li{
	float: right;
	border-left: 1px dotted;
	height: 40px;
	margin-left: 5px;
	padding-left: 10px;
	padding-right: 8px;
}

#menu h4{
	font: 11px Georgia;
	color: #666666;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: -4px;
	margin-top: 6px;
}

#menu span{
	font: 8px Tahoma;
	color: #b7b7b7;
}

.pop-up {
	display: none;
	width: 130px;
	position: absolute;
	left: 900px;
	top: 80px;
	/*border: 1px solid #000;*/
	border-top: none;
	z-index: 1;
	background-color: #F7F7F7;
	box-shadow: 0 7px 10px rgba(0,0,0,0.5);
	border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.pop-up ul {
	margin-left: -40px;
}

.pop-up li {
	border-bottom: 1px dotted;
	padding-bottom: 15px;
	text-align: center;
}

.pop-up li:hover {
	background-color: #D8D8D8;
	cursor: pointer;
}

.pop-up li:last-child {
	margin-bottom: -17px;
	border-bottom: none;
}

.pop-up li:last-child:hover {
	border-radius: 0 0 10px 10px;
	-o-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
}

.pop-up li:first-child {
	margin-top: -17px;
}

.pop-up li:first-child:hover {
	border-radius: 10px 10px 0 0;
	-o-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
}
					/*    HEADER ENDS    */

					/*    SLIDER BEGINS    */

.slider-wrap {
	background: url('img/slider-bg.png') no-repeat;
	height: 335px;
	position: relative;
}

.slider {
	position: absolute;
	height: 335px;
	top: 10%;
	left: 15%;
}

.slider img {
	height: 345px;
	width: 840px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}

.switch {
	float: left;
	position: absolute;
	top: 90%;
}

.switch li{
	float: left;
	width: 10px;
	height: 10px;
	background-color: #fff;
	margin-left: 5px;
	border: 2px solid #000;
	border-radius: 10px 10px 10px 10px;
	-o-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}

.selected {
	background-image: url('img/selected-bg.png');
}

.switch li:hover {
	background-color: #02F0F0;
	cursor: pointer;
}
					/*    SLIDER ENDS    */

					/*    INFO BEGINS    */

.info {
	background-color: #fff;
	text-align: center;
}

.info h3 {
	margin-top: 60px;
	font-family: 'Roboto', sans-serif;
}
.info ul {
	float: left;
	margin-left: -30px;
}

.info ul li{
	float: left;
	width: 305px;
	height: 420px;
	text-align: left;
	padding-left: 5px;
	color: #3e3e3e;
	font-family: 'Roboto', sans-serif;
}

.info ul li img {
	width: 300px;
	height: 200px;
	margin-left: -7px;
	border: 4px solid #F3F3F3;
	border-radius: 10px 10px 10px 10px;
	-o-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}

.info p {
	font-size: 14px;
}


.learn {
	font-size: 14px;
}

					/*    INFO ENDS    */

					/*    FOOTER BEGINS    */

footer {
	background-color: #4C4C4C;
	height: 70px;
	padding-top: 15px;
}

footer p {
	color: #fff;
	position: absolute;
	font-family: 'Roboto', sans-serif;
}

.social{
	float: right;
	margin-right: 50px;
}

.social li{
	float: left;
	margin-right: auto;
}

.social a{
	display: block;
	width: 16px;
	height: 16px;
	background: url(../img/social.png) no-repeat 0 0;
}

.social a.linkedin{
	background-position: -36px 0;
	margin: 0 10px;
}

.social a.facebook{
	background-position: -68px 0;
}

					/*    FOOTER ENDS    */

.info:after, .pop-up:after {
	content: '';
	display: table;
	clear: both;
}



					/*    CONTACTS BEGINS    */

.contacts {
	font-family: 'Roboto', sans-serif;
	position: relative;
	padding: 50px 0;
}

.temp {
	color: #829399;
	font-size: 12px;
}

.contacts-group {
	margin-bottom: 25px;
}

.data {
	line-height: 1.125em;
	color: #435972;
	position: absolute;
	left: 450px;
}

.networks {
	margin-left: -40px;
	margin-top: 0px;
}

.social-bg {
	width: 20px;
	height: 20px;
	float: left;
	background: url('img/p-soc-icons.png') no-repeat 0 0;
}

.wrap-soc {
	width: 224px;
	float:left;
}

.mail {
	background-position: -279px 0;
}

.fb {
	background-position: -107px 0;
}

.twitter {
	background-position: -142px -36px;
}

.inst {
	background-position: -141px 0;
}

.vk {
	background-position: -35px -62px;
}

.contacts-group:last-child {
	margin-top: 112px;
}

					/*    CONTACTS ENDS    */